GEMINI_API_KEY=
MONGODB_URI=
MONGODB_DB_NAME=progsu_intelligence
MONGODB_COLLECTION=chunks
GCP_PROJECT_ID=
GCP_REGION=us-central1
GOOGLE_DRIVE_CREDENTIALS=./service_account.json
DRIVE_INGESTION_FOLDER_ID=
DRIVE_OUTPUT_FOLDER_ID=
API_PORT=8000
API_HOST=0.0.0.0